body,
html {
  margin: 0px;
  padding: 0px;
  position: fixed;
  background: black;
}

.cyfrania {
  text-decoration: none;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
